<% provide(:title, "#{@player.firstname} #{@player.lastname}") %>
<div class="row-fluid">
	<aside class="span5">
		<section>
			<!-- <%= render 'profile_picture' %> -->
		</section>
	</aside>
	<div class="row-fluid">
		<div class="span7">
			<h1>
				<%= "#{@player.firstname} #{@player.lastname}" %>
			</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat nisl sed convallis vulputate. Etiam aliquet a urna sed euismod. In sit amet molestie risus. Nullam sit amet ultrices dui. Aliquam quis odio metus. Curabitur sit amet feugiat sapien, vitae adipiscing quam. Integer sit amet rhoncus metus, a pellentesque ipsum.

				Quisque dignissim odio in arcu porta, accumsan sagittis arcu sollicitudin. Nullam lobortis arcu at massa ultricies hendrerit. Maecenas purus mauris, congue at felis sodales, congue viverra elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed fermentum odio nec risus ultrices, quis euismod tortor fringilla. Integer urna eros, vulputate vel cursus sollicitudin, bibendum sit amet nisi. Mauris euismod lectus nunc, a bibendum tortor sodales sed. Sed feugiat pretium tincidunt. Aliquam vitae fringilla tellus, in dignissim arcu. Vivamus vel purus ac dui vestibulum interdum. Vivamus vel orci tortor. Nullam elit nisi, dapibus eu cursus quis, venenatis et sapien.

				Nullam a dolor pharetra, molestie urna id, laoreet felis. Aenean euismod iaculis nisi, id porttitor dolor placerat ut. Quisque eget mauris mi. Morbi vitae diam lacus. Etiam vel est ultrices, faucibus metus nec, auctor elit. Duis ut vehicula lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Integer feugiat viverra viverra. Integer hendrerit volutpat neque, quis facilisis elit euismod a. Donec eleifend odio congue accumsan lacinia. Praesent non faucibus eros. Suspendisse est dui, iaculis vitae luctus id, molestie id leo. Duis eleifend neque et magna euismod, eu commodo augue condimentum.

				Sed hendrerit non elit id dictum. Quisque tellus nunc, hendrerit vel tincidunt condimentum, placerat a justo. Curabitur vel interdum sapien, ac volutpat magna. Vestibulum massa tellus, interdum et elementum nec, cursus ut dolor. Vivamus ut lectus dui. Donec tempus eu mauris a eleifend. Quisque placerat nisl a risus tristique lacinia. In hac habitasse platea dictumst. Fusce lacus nisi, tempus quis rhoncus sed, commodo convallis lectus. Maecenas et ligula turpis. Donec erat felis, suscipit vitae interdum dictum, facilisis vitae magna. Curabitur eu nisi id nisl dictum sodales a in urna.

				In hac habitasse platea dictumst. Fusce eget nunc ullamcorper, euismod quam non, aliquam ligula. In mollis risus a urna posuere congue. Nullam a eros at nunc sagittis consectetur. Vestibulum in velit aliquam, commodo turpis vel, ultrices libero. Integer sagittis congue leo, eget blandit erat cursus vel. Curabitur tincidunt egestas lacus non ultricies. Cras ullamcorper justo congue eros molestie, quis ornare quam suscipit. Mauris pellentesque magna vel magna pulvinar, vel malesuada dolor aliquam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus porttitor nulla eu sodales elementum. Duis et neque at risus suscipit dignissim in pretium velit. In imperdiet ipsum et metus iaculis, vitae tincidunt tortor cursus. Nunc sed augue eu odio posuere ornare in sit amet lacus. Nullam eget neque at mi mattis fringilla non faucibus ipsum.

				In hac habitasse platea dictumst. Fusce eget nunc ullamcorper, euismod quam non, aliquam ligula. In mollis risus a urna posuere congue. Nullam a eros at nunc sagittis consectetur. Vestibulum in velit aliquam, commodo turpis vel, ultrices libero. Integer sagittis congue leo, eget blandit erat cursus vel. Curabitur tincidunt egestas lacus non ultricies. Cras ullamcorper justo congue eros molestie, quis ornare quam suscipit. Mauris pellentesque magna vel magna pulvinar, vel malesuada dolor aliquam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus porttitor nulla eu sodales elementum. Duis et neque at risus suscipit dignissim in pretium velit. In imperdiet ipsum et metus iaculis, vitae tincidunt tortor cursus. Nunc sed augue eu odio posuere ornare in sit amet lacus. Nullam eget neque at mi mattis fringilla non faucibus ipsum.

				In hac habitasse platea dictumst. Fusce eget nunc ullamcorper, euismod quam non, aliquam ligula. In mollis risus a urna posuere congue. Nullam a eros at nunc sagittis consectetur. Vestibulum in velit aliquam, commodo turpis vel, ultrices libero. Integer sagittis congue leo, eget blandit erat cursus vel. Curabitur tincidunt egestas lacus non ultricies. Cras ullamcorper justo congue eros molestie, quis ornare quam suscipit. Mauris pellentesque magna vel magna pulvinar, vel malesuada dolor aliquam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus porttitor nulla eu sodales elementum. Duis et neque at risus suscipit dignissim in pretium velit. In imperdiet ipsum et metus iaculis, vitae tincidunt tortor cursus. Nunc sed augue eu odio posuere ornare in sit amet lacus. Nullam eget neque at mi mattis fringilla non faucibus ipsum.
			</p>
		</div>
	</div>
</div>