@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	background-image: url('background.jpg');
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #999;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */

.navbar {
	.nav {
		float: right;
		padding-right: 10px;
		li {
			a {
				color: #FFFBBA;
				font-size: 1.2em;
			}
		}
	}
}

.container {
	.container {
		position: relative;
	}
}

.navbar-inner {
	height: 40px;
	background: #024930;
}

#logo {
	position: absolute;
	z-index: 2000;
	left: -230px;
	top: -50px;
	float: left;
}

/* body */

.page-body {
	background: white;
}

.rounded-corners {
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

/* calendar */


/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #024930
;	color: #999;
	a {
		color: #555;
		&:hover {
			color: #222;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-top: 10px;
		}
	}
}
