@import "bootstrap";

/* mixins, variables, etc. */


@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	background: white;
	/* background-image: url('background.jpg'); */
	padding-top: 30px;/* adjusts gap between top of window and navbar */
	.page-body {
		padding-top: 180px;
		padding-bottom: 10px;
		background: #FFF8E6;
	}
	.rounded-corners {
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		-khtml-border-radius: 10px;
		border-radius: 10px;
	}
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
		margin-top: 10px;
	}
}

/* typography */

@font-face {
    font: {
       family: 'orbitron';
       weight: 'normal';
       style: 'normal';
    }
    src: asset-url('orbitron-medium-webfont.eot', font);
    src: asset-url('orbitron-medium-webfont.eot', font) format('embedded-opentype'),
         asset-url('orbitron-medium-webfont.woff', font) format('woff'),
         asset-url('orbitron-medium-webfont.ttf', font) format('truetype'),
         asset-url('orbitron-medium-webfont.svg', font) format('svg')
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	font-family: orbitron;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 10px;
	text-align: left;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #999;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
	font-family: orbitron;
}

/* header */

.navbar {
	.nav {
		float: right;
		padding-right: 10px;
		li {
			a {
				color: #FFFBBA;
				font-size: 1.2em;
				font-family: orbitron;
			}
		}
	}
}

.container {
	.container {
		position: relative;
	}
}

.navbar-inner {
	height: 40px;
	background: #024930;
}

#logo {
	position: absolute;
	z-index: 2000;
	left: -140px;
	top: -10px;
	float: left;
}

/* body */

/* calendar */

/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	height: auto;
	margin-bottom: 15px;
	@include box_sizing;
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #024930;
	color: #999;
	clear: both;
	a {
		color: #555;
		&:hover {
			color: #222;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-top: 10px;
		}
	}
}

/* player show pages aside */

aside {
	section {
		border-top: 1px solid black;
		&:first-child {
			/* adjusts the profile picture and stats */
			border: 0;
			padding-top: 130px;
			padding-left: 60px;
			padding-right: 0px;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.6em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
		}
	}
}

/* debug dump */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

